.DS_Store
.idea
node_modules/
tmp/
.env
.air.conf
nohup.out
main
sendgrid.env
secret.txt
main
log.log
gorm.log
nohup.out
database/backup/*
database/db.sqlite
database/session.sqlite
Caddyfile
database/session.sqlite
