<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content="" />
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
    <title>{{.title}}</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/nai2ylb.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--<link rel="stylesheet" type="text/css" href="/static/css/app.css?v={{.version}}">-->
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="/static/js/app.js?v={{.version}}" defer></script>
</head>
<body class="bg-gray-50">
    {{.inertia}}
</body>
</html>